 .Product_main_div {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;

 }
.Product_main_div>main_div {
     border: 5px solid lightgray;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
     rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
     border-radius: 10px;
     padding: 20px;
}
 .Product_main_div h3,
 h4,
 h5,p {
     text-align: center;
     font-family: sans-serif;
 }

 /** media query start **/
 @media (max-width: 768px) {
     .Product_main_div {
         grid-template-columns: repeat(2, 1fr);
     }

     .Product_main_div img {
         display: block;
         margin: auto;
     }
 }

 @media (max-width: 568px) {
     .Product_main_div {
         grid-template-columns: repeat(1, 1fr);
     }

     .Product_main_div img {
         display: block;
         margin: auto;
     }
 }

 /** media query end **/